<h2>Create Celebrity</h2>

<form action="/celebrities/create" method="POST">
  <label for="name-input">Name your celebrity</label>
  <input id='name-input' name='name' type="text">
  <label for="occupation-input">What does your celebrity do?</label>
  <input id='occupation-input' name='occupation' type="text">
  <label for="catchPhrase-input">What does your celebrity say?</label>
  <input id='catchPhrase-input' name='catchPhrase' type="text">
  <label for="movies-list">Which movies did your celebrity star in?</label>
  <input id='movies-list-input' name='movies' type="text">
  <input id='movies-list-input' name='movies' type="text">
  <input id='movies-list-input' name='movies' type="text">
  <button>Submit your celebrity!</button>
</form>

<br>
<h3><a href="/celebrities/">Back to celebrities</a></h3>
<br>
<h3><a href="/">Home</a></h3>