<h2>Create Movie</h2>

<form action="/movies/create" method="POST">
  <label for="title-input">Name your movie</label>
  <input id='title-input' name='title' type="text">
  <label for="genre-input">What genre is your movie?</label>
  <input id='genre-input' name='genre' type="text">
  <input id='genre-input' name='genre' type="text">
  <input id='genre-input' name='genre' type="text">
  <label for="plot-input">What is your movie about?</label>
  <input id='plot-input' name='plot' type="text">
  <label for="celebrities-list">Which celebrities star in your movie?</label>
  <input id='celebrities-list' name='cast' type="text">
  <input id='celebrities-list' name='cast' type="text">
  <input id='celebrities-list' name='cast' type="text">
  <button>Submit your movie!</button>
</form>

<br>
<h3><a href="/movies/">Back to movies</a></h3>
<br>
<h3><a href="/">Home</a></h3>